{% extends 'base.html.twig' %}

{% block title %}Car Location{% endblock %}

{% block body %}
<h1 class="text-center my-4">Car Location</h1>

<img src="{{ asset("./carlocation.jpg")}}" alt="">

{% endblock %}
